<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--停止服务名称-->
    <add key="Stop" value="HelloJob" />
  </appSettings>
  <connectionStrings>
    <add name="DataBaseConnectionString" connectionString="Server=.;Initial Catalog=OFCoreData;User ID=sa;Password=p@ssw0rd@123"/>
  </connectionStrings>
</configuration>