@charset "utf-8";

/** public start **/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	font-size: 50px;
}

body {
	background: #f4f6f9;
}

ul,
li,
dl,
dt,
dd {
	display: block;
	list-style: none;
}

input,
textarea,
button,
select {
	outline: none;
}

a {
	text-decoration: none !important;
	color: inherit;
}


/*btn*/

.btn {
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.btn i {
	margin-right: 5px;
}

.btn-radius {
	border-radius: 17px;
}

.btn-radius img {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 4px 6px 4px 0;
}

.btn-primary-outline {
	background: #fff;
	border-color: #004a86;
	color: #004a86 !important;
}

.btn-primary-outline:hover {
	background: #f6fbff;
}

.btn-primary-outline:active {
	background: #e6f4ff;
}

.btn-primary,
.btn-primary:focus {
	background-color: #004a86;
	border-color: #004a86;
}

.btn-primary:hover,
.btn-primary:active {
	background: #003c6d;
	border-color: #003c6d;
}

.btn-default,
.btn-default:focus {
	color: #666;
	background: #fff;
	border-color: #e9e9e9;
}

.btn-default:hover {
	background: #f5f5f5;
	border-color: #bbb;
}

.btn-default:active {
	background: #f3f2f2;
}

.btn-text {
	color: #004a86;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.btn-text:hover {
	color: #004a86;
}

.btn-warning {
	background-color: #e26a13;
	border-color: #e26a13;
}

.btn-warning:hover {
	background-color: #cf5a05;
	border-color: #cf5a05;
}

.btn-warning:active {
	background-color: #c15100 !important;
	border-color: #c15100 !important;
}


/*form-control*/

.form-control {
	resize: none;
	border-color: #ebebeb;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.form-control:hover {
	border-color: #aaa;
}

.form-control:focus {
	border-color: #004a86;
}

.form-control-group {
	position: relative;
}

.form-control-group .form-control {
	padding-right: 50px;
}

.form-control-group>i {
	position: absolute;
	top: 1px;
	right: 1px;
	display: block;
	font-style: normal;
	width: 39px;
	height: 32px;
	margin: 0 !important;
	text-align: center;
	line-height: 34px;
	padding: 0;
	border: 0;
	border-radius: 0 4px 4px 0;
	border-left: solid 1px #ebebeb !important;
	color: #bfbfbf;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.form-control-group>i.disabled {
	border: none !important;
}

.form-control-group-multi .form-control {
	padding-left: 50px;
}

.form-control-group-multi>i {
	left: 1px;
	right: auto;
	border-radius: 4px 0 0 4px !important;
	border-left: none !important;
	border-right: solid 1px #ebebeb !important;
}

.form-control-group-multi .form-control+i {
	left: auto;
	right: 1px;
	border-radius: 0 4px 4px 0 !important;
	border-left: solid 1px #ebebeb !important;
	border-right: none !important;
}


/*.form-group*/

.form-group-table {
	display: table;
}

.form-group-table .control-label {
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	padding: 0 5px;
}

.form-group-table .control-box {
	display: table-cell;
	width: 100%;
	padding: 0 5px;
}


/*layout*/

.tablelayout {
	display: table;
	width: 100%;
}

.tablelayout-s {
	display: table-cell;
	width: 1%;
	vertical-align: middle;
}

.tablelayout-l {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}


/** hoverdown **/

.hoverdown {
	position: relative;
}

.hoverdown:hover .hoverdown-menu {
	display: block;
}

.hoverdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	padding-top: 2px;
}

.hoverdown-menu-content {
	width: 100%;
	padding: 5px 0;
	margin: 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(0, 34, 77, .1);
	-webkit-box-shadow: 0 5px 20px rgba(0, 34, 77, .1);
}


/*switchtab*/

.switchtab-main-box {
	display: none;
}

.switchtab-main-box.active {
	display: block;
}


/*header*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 66px;
	padding: 14px 20px;
	background: #fff;
	box-shadow: 0 6px 7px rgba(0, 0, 0, .06);
	-webkit-box-shadow: 0 6px 7px rgba(0, 0, 0, .06);
	z-index: 3;
}

.header .logo {
	display: block;
	float: left;
	font-size: 17px;
	font-weight: bold;
	line-height: 38px;
	color: #666 !important;
	cursor: pointer;
}

.header .logo:before {
	display: block;
	float: left;
	content: "";
	width: 196px;
	height: 31px;
	background: url(../images/logo.png) 0 0 no-repeat;
}

.header .logo:after {
	display: block;
	float: left;
	content: "";
	width: 1px;
	height: 20px;
	background: #e8e8e8;
	margin: 9px 20px;
}

.header .ctrl {
	float: right;
	padding: 4px 0;
	margin: 0;
}

.header .ctrl>li {
	float: left;
	line-height: 20px;
	padding: 5px 0;
}

.header .ctrl>li>a {
	position: relative;
	color: #666;
	padding-left: 15px;
	margin-left: 20px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.header .ctrl>li>a:before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 12px;
	margin-top: -6px;
	display: block;
	content: "";
	background: #e0e0e0;
}

.header .ctrl>li>a i {
	margin: 0 5px;
	color: #999;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.header .ctrl>li:hover>a,
.header .ctrl>li:hover>a i {
	color: #004a86;
}

.header .ctrl>li:first-child>a {
	padding: 0;
	margin: 0;
}

.header .ctrl>li:first-child>a:before {
	display: none;
}

.header .hoverdown-menu {
	left: auto;
	right: 0;
	width: 100px;
}

.header .hoverdown-menu-content>a {
	position: relative;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 30px;
	color: #333;
	white-space: nowrap;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.header .hoverdown-menu-content>a:hover {
	color: #262626;
	background-color: #f5f5f5
}


/*menu*/

.menu {
	position: fixed;
	top: 66px;
	left: 0;
	bottom: 0;
	width: 60px;
	background: #004a86;
	z-index: 2;
}

.menu>ul {
	position: relative;
	z-index: 2;
}

.menu>ul li {
	position: relative;
	width: 100%;
	height: 70px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.menu>ul li:hover {
	background: #445463;
}

.menu>ul li.active {
	background: #e16a12;
}

.menu>ul li i {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	margin-left: -15px;
	text-align: center;
	line-height: 30px;
	font-size: 26px;
	color: #fff;
}

.menu>ul li .icon {
	background-image: url(../images/icon-menu.png);
	background-repeat: no-repeat;
}

.menu>ul li .icon.icon-desk {
	background-position: 0 0;
}

.menu>ul li .icon.icon-board {
	background-position: -30px 0;
}

.menu>ul li .icon.icon-edit {
	background-position: -60px 0;
}

.menu>ul li .icon.icon-system {
	background-position: -90px 0;
}

.menu>ul li span {
	position: absolute;
	left: 80%;
	top: 50%;
	opacity: 0;
	margin-top: -14px;
	margin-left: 7px;
	display: block;
	white-space: nowrap;
	font-size: 13px;
	line-height: 20px;
	padding: 4px 6px;
	border-radius: 4px;
	background: rgba(0, 0, 0, .8);
	color: #fff;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	pointer-events: none
}

.menu>ul li:hover span {
	left: 100%;
	opacity: 1;
}

.menu>ul li span:before {
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -5px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 5px;
	border-color: transparent rgba(0, 0, 0, .8) transparent transparent;
}

.menu>ul li font {
	position: absolute;
	top: 15px;
	right: 5px;
	display: block;
	content: "";
	background: #ea1f1f;
	color: #fff;
	font-size: 12px;
	min-width: 20px;
	padding: 0 3px;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	border-radius: 10px;
}

.menu-sub {
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	height: 100%;
	opacity: 0;
	background: #fff;
	padding: 14px 0;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	overflow: auto;
	z-index: 1;
}

.menu-sub>dl {
	margin: 0;
}

.menu-sub>dl>dt a {
	position: relative;
	display: block;
	width: 100%;
	color: #666;
	padding: 11px 35px 11px 27px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	font-weight: normal;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.menu-sub>dl>dt a:hover {
	color: #333;
}

.menu-sub>dl>dd a.active {
	color: #004a86;
}

.menu-sub>dl>dt a.active {
	background: #e7effb;
	color: #333;
}

.menu-sub>dl>dd {
	padding: 0;
	overflow: hidden;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.menu-sub>dl>dd a {
	position: relative;
	display: block;
	height: 0;
	font-size: 14px;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	padding: 0 20px 0 40px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.menu-sub>dl>dd a:hover {
	background: #f5f5f5;
}

.menu-sub-list>dt a:after {
	position: absolute;
	top: 50%;
	right: 20px;
	height: 14px;
	line-height: 14px;
	margin-top: -7px;
	display: block;
	color: #a0a1a1;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f107";
}

.menu-sub-list.active>dt a {
	color: #333;
}

.menu-sub-list.active>dt a:after {
	content: "\f106";
}

.menu-sub-list.active>dd {
	padding: 5px 0;
}

.menu-sub-list.active>dd a {
	height: 32px;
	line-height: 32px;
}

.menu-user {
	position: absolute;
	display: block;
	left: 50%;
	bottom: 60px;
	width: 32px;
	height: 32px;
	margin-left: -16px;
	border-radius: 16px;
	overflow: hidden;
	cursor: pointer;
	z-index: 3;
}

.menu-user img {
	display: block;
	width: 100%;
	height: 100%;
}

.desk.has-footer {
	padding-bottom: 72px;
}

.desk.open-menu .menu-sub {
	opacity: 1;
	width: 170px;
}

.desk.open-menu .content {
	padding-left: 240px;
}


/*content*/

.content {
	padding: 76px 10px 10px 70px;
	transition: padding-left .2s;
	-moz-transition: padding-left .2s;
	-o-transition: padding-left .2s;
	-webkit-transition: padding-left .2s;
}

.desk.no-menu .content {
	padding-left: 10px;
}


/*content-tab*/

.content-tab>a {
	position: relative;
	display: block;
	float: left;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	width: 130px;
	height: 50px;
	color: #333;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-tab>a:hover,
.content-tab>a.active {
	color: #004a86;
}

.content-tab>a.active:after {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background: #004a86;
}

.content-tab>a span {
	margin-left: 5px;
	color: #e16a12;
}


/*content-borderbox-top*/

.content-borderbox-top .content-tab {
	float: left;
}

.borderbox-title-ctrl {
	float: right;
	padding: 8px;
}

.borderbox-title-ctrl-item {
	float: left;
	cursor: pointer;
}

.borderbox-title-ctrl-item .hoverdown-menu {
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	min-width: 100px;
	width: auto;
}

.borderbox-title-ctrl-item .hoverdown-menu-content>li {
	position: relative;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 30px;
	color: #333;
	white-space: nowrap;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.borderbox-title-ctrl-item .hoverdown-menu-content>li:hover {
	color: #262626;
	background-color: #f5f5f5
}

.borderbox-title-ctrl-name {
	line-height: 20px;
	padding: 7px 15px;
	color: #333;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	overflow: hidden;
}

.borderbox-title-ctrl-name span {
	display: block;
	float: left;
}

.borderbox-title-ctrl-name i {
	display: block;
	float: left;
	color: #666;
	margin-left: 5px;
	line-height: inherit;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.borderbox-title-ctrl-item:hover .borderbox-title-ctrl-name,
.borderbox-title-ctrl-item:hover .borderbox-title-ctrl-name i {
	color: #004a86;
}

.borderbox-title-ctrl-search {
	position: relative;
	float: left;
	margin: 0 15px;
}

.borderbox-title-ctrl-search>input {
	display: block;
	width: 220px;
	border-radius: 17px;
	border-color: #ebebeb;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.borderbox-title-ctrl-search>input:hover {
	border-color: #aaa;
}

.borderbox-title-ctrl-search>input:focus {
	border-color: #004a86;
}

.borderbox-title-ctrl-search>i {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: #9f9f9f;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.borderbox-title-ctrl-search>i:hover {
	color: #004a86;
}

.borderbox-title-ctrl-btn {
	float: left;
	padding: 2px 0;
}

.borderbox-title-ctrl-btn .icon {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin: 0 6px;
	background-image: url(../images/icon-hamburger.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.borderbox-title-ctrl-btn .icon.icon-hamburger-l {
	background-position: 0 -30px;
}

.borderbox-title-ctrl-btn .icon.icon-hamburger-l.active {
	background-position: 0 0;
}

.borderbox-title-ctrl-btn .icon.icon-hamburger-s {
	background-position: -30px -30px;
}

.borderbox-title-ctrl-btn .icon.icon-hamburger-s.active {
	background-position: -30px 0;
}


/*content-borderbox*/

.content-borderbox-item {
	padding: 20px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 1px 1px 1px 2px;
	border-color: transparent;
	background: #fff;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.content-borderbox-item .content-borderbox-item {
	margin: 10px 0;
	padding-bottom: 10px;
	border-color: #e7e7e7;
}

.content-borderbox-item:hover {
	border-color: #e7e7e7;
}

.content-borderbox-item.color-red {
	border-left-color: #ea1f1f
}

.content-borderbox-item.color-orange {
	border-left-color: #f7a933
}

.content-borderbox-item.color-green {
	border-left-color: #90c230
}

.content-borderbox-item.color-red .content-borderbox-name:before {
	background: #ea1f1f;
}

.content-borderbox-item.color-orange .content-borderbox-name:before {
	background: #f7a933;
}

.content-borderbox-item.color-green .content-borderbox-name:before {
	background: #90c230;
}

.content-borderbox-title {
	position: relative;
}

.content-borderbox-name {
	line-height: 20px;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
	width: 100%;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.content-borderbox-name:before {
	display: block;
	float: left;
	content: "";
	width: 14px;
	height: 14px;
	margin: 3px 0;
	border-radius: 7px;
	background: #ccc;
	margin-right: 8px;
}

.content-borderbox-name>span {
	display: block;
	float: left;
	width: 60px;
	height: 20px;
	text-align: center;
	border-radius: 6px;
	background: #f2f2f2;
	color: #333;
	font-size: 12px;
	margin-right: 8px;
}

.content-borderbox-name>a {
	font-size: 16px;
	color: #333;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-borderbox-name>a:hover {
	color: #004a86;
}

.content-borderbox-info {
	width: 100%;
	margin-top: 10px;
	line-height: 20px;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.content-borderbox-info.simple-item {
	position: absolute;
	top: 0;
	right: 10%;
	opacity: 0;
	margin: 0;
	width: auto;
	color: #666;
	z-index: -1;
}

.content-borderbox-info.simple-item .borderbox-info-item {
	display: none;
	margin-right: 0;
	margin-left: 30px;
	max-width: 150px;
}

.content-borderbox-info.simple-item .borderbox-info-item.hoverdown .hoverdown-menu {
	left: auto;
	right: 0;
}

.content-borderbox-info.simple-item .borderbox-info-item>span>a font {
	display: none;
}

.content-borderbox-info.simple-item .borderbox-info-item>span>a font:first-child {
	display: inline;
}

.borderbox-info-item {
	float: left;
	margin-right: 40px;
}

.borderbox-info-item:last-child {
	margin: 0;
}

.borderbox-info-item.hoverdown>span {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.borderbox-info-item.hoverdown .hoverdown-menu {
	width: auto;
}

.borderbox-info-item.hoverdown .hoverdown-menu-content {
	padding: 10px 8px;
	white-space: nowrap;
}

.borderbox-info-item.hoverdown .hoverdown-menu-content li {
	display: inline;
	font-size: 13px;
	margin: 0 8px;
}

.borderbox-info-progress {
	overflow: hidden;
}

.borderbox-info-progress .bar {
	float: left;
	width: 130px;
	height: 10px;
	margin: 5px 0;
	border-radius: 5px;
	overflow: hidden;
	background: #f3f3f3;
}

.borderbox-info-progress .bar span {
	display: block;
	width: 0;
	height: 100%;
	background-image: url(../images/progress-bar-bg.png);
	background-repeat: repeat-x;
	background-color: #2594f8;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.borderbox-info-progress .num {
	float: left;
	margin-left: 8px;
}


/*content-borderbox-main*/

.borderbox-main-item>dl {
	position: relative;
	height: 20px;
	margin: 6px 0 0 0;
	padding-left: 70px;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	overflow: hidden;
}

.borderbox-main-item>dl.has-btn dd {
	padding-right: 50px;
}

.borderbox-main-item>dl dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	display: block;
	float: left;
	font-weight: normal;
}

.borderbox-main-item>dl dd {
	position: relative;
	display: block;
	float: left;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	overflow: hidden;
}

.borderbox-main-item>dl dd>font {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	color: #004a86;
	cursor: pointer;
}

.borderbox-main-item dd>font i {
	margin-left: 5px;
}

.borderbox-main-item dd>font.close-details-btn,
.borderbox-main-item.open-details dd>font.open-details-btn {
	display: none;
}

.borderbox-main-item.open-details dd>font.close-details-btn {
	display: block;
}


/*content-borderbox-footer*/

.content-borderbox-footer {
	height: 34px;
	margin-top: 10px;
	overflow: hidden;
}

.content-borderbox-footer .btn {
	display: block;
	float: left;
	margin-right: 10px;
}

.content-borderbox-footer .btn-text {
	float: right;
	margin: 0;
	padding: 6px 0;
}

.content-borderbox-footer .btn-text i {
	margin-left: 5px;
}

.content-borderbox-footer.list-opened .open-list-btn,
.content-borderbox-footer .close-list-btn {
	display: none;
}

.content-borderbox-footer.list-opened .close-list-btn {
	display: block;
}


/*borderbox-main-details*/

.borderbox-main-details {
	position: relative;
	background: #fafbff;
	border: solid 1px #f1f1f1;
	border-top-width: 0;
	border-bottom-width: 0;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.borderbox-main-details-scroll {
	height: 0;
	padding-bottom: 0;
	overflow: auto;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.borderbox-main-details:before {
	position: absolute;
	top: -12px;
	left: 22px;
	display: block;
	content: "";
	opacity: 0;
	border-style: solid;
	border-width: 6px 5px;
	border-color: transparent transparent #ededed transparent;
	z-index: 1;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.borderbox-main-details:after {
	position: absolute;
	top: -10px;
	left: 23px;
	display: block;
	content: "";
	opacity: 0;
	border-style: solid;
	border-width: 5px 4px;
	border-color: transparent transparent #fafbff transparent;
	z-index: 2;
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.borderbox-main-details .tablelayout-l,
.borderbox-main-details .tablelayout-s {
	vertical-align: top;
	line-height: 20px;
}

.borderbox-main-details ul {
	position: relative;
	margin: 0;
}

.borderbox-main-details ul:before {
	position: absolute;
	top: 0;
	left: 109px;
	bottom: -20px;
	display: block;
	content: "";
	width: 1px;
	background: #e8e8e8;
	z-index: 0;
}

.borderbox-main-details ul>li {
	position: relative;
	padding-top: 25px;
	z-index: 1;
}

.borderbox-main-details ul>li dl {
	width: 95px;
	text-align: right;
	margin: 0;
}

.borderbox-main-details ul>li dl dt {
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	color: #666;
	overflow: hidden;
}

.borderbox-main-details ul>li dl dd .btn {
	font-size: 12px;
	line-height: 20px;
	padding: 0 8px;
}

.borderbox-main-details ul>li b {
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 5px;
	border: solid 1px #aaa;
	margin: 5px 10px;
	background: #fafbff;
	transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
}

.borderbox-main-details ul>li.active b {
	border-color: #90c230;
	background: #90c230;
}

.borderbox-main-details ul>li p {
	padding-bottom: 25px;
	color: #333;
	margin: 0;
	border-bottom: solid 1px #e8e8e8;
}

.borderbox-main-details ul>li:last-child p {
	border: none;
}


/*open-details*/

.open-details>.borderbox-main-details {
	margin: 10px 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.open-details>.borderbox-main-details .borderbox-main-details-scroll {
	height: 161px;
	padding-bottom: 20px;
}

.open-details>.borderbox-main-details:before,
.open-details>.borderbox-main-details:after {
	opacity: 1;
}


/*close-list*/

.borderbox-main-item .content-borderbox-item {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

.borderbox-main-item .content-borderbox-name {
	height: 0;
}

.borderbox-main-item .content-borderbox-info {
	margin-top: 0;
	height: 0;
	overflow: hidden;
}

.borderbox-main-item .borderbox-main-item>dl {
	height: 0;
	margin: 0;
}

.borderbox-main-item .open-details>.borderbox-main-details {
	margin: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

.borderbox-main-item .open-details>.borderbox-main-details .borderbox-main-details-scroll {
	height: 0;
	padding-bottom: 0;
}

.borderbox-main-item .open-details>.borderbox-main-details:before,
.borderbox-main-item .open-details>.borderbox-main-details:after {
	opacity: 0;
}


/*open-list*/

.borderbox-main-item.open-list .content-borderbox-item {
	margin: 10px 0;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.borderbox-main-item.open-list .content-borderbox-name {
	height: 20px;
}

.borderbox-main-item.open-list .content-borderbox-info {
	margin-top: 10px;
	height: 20px;
	overflow: visible;
}

.borderbox-main-item.open-list .borderbox-main-item>dl {
	height: 20px;
	margin: 6px 0 0 0;
}

.borderbox-main-item.open-list .open-details>.borderbox-main-details {
	margin: 10px 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.borderbox-main-item.open-list .open-details>.borderbox-main-details .borderbox-main-details-scroll {
	height: 161px;
	padding-bottom: 20px;
}

.borderbox-main-item.open-list .open-details>.borderbox-main-details:before,
.borderbox-main-item.open-list .open-details>.borderbox-main-details:after {
	opacity: 1;
}


/*simple borderbox*/

.content-borderbox-simple .content-borderbox-name {
	padding-right: 360px;
}

.content-borderbox-simple .content-borderbox-info {
	margin-top: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
}

.content-borderbox-simple .content-borderbox-info.simple-item {
	opacity: 1;
	right: 0;
	height: 20px !important;
	overflow: visible !important;
	z-index: 1;
}


/*.content-borderbox-simple .content-borderbox-info {
	margin-left: 60%;
	width: 380px;
	margin-top: -20px;
}

.content-borderbox-simple .content-borderbox-info .borderbox-info-item {
	display: none;
	color: #666;
	width: 150px;
	margin: 0 0 0 40px;
}

.content-borderbox-simple .content-borderbox-info .borderbox-info-item span>a>font {
	display: none;
}

.content-borderbox-simple .content-borderbox-info .borderbox-info-item span>a>font:first-child {
	display: inline;
}*/

.content-borderbox-simple .borderbox-main-item>dl {
	height: 0 !important;
	margin: 0 !important;
}

.content-borderbox-simple .content-borderbox-footer {
	height: 0;
	margin: 0;
}

.content-borderbox-simple .borderbox-main-item .content-borderbox-item {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

.content-borderbox-simple .borderbox-main-item .content-borderbox-name {
	height: 0;
}

.content-borderbox-simple .borderbox-main-item .content-borderbox-info {
	height: 0 !important;
	overflow: hidden !important;
}

.content-borderbox-simple .open-details>.borderbox-main-details {
	margin: 0 !important;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
}

.content-borderbox-simple .open-details>.borderbox-main-details .borderbox-main-details-scroll {
	height: 0 !important;
	padding-bottom: 0 !important;
}

.content-borderbox-simple .open-details>.borderbox-main-details:before,
.content-borderbox-simple .open-details>.borderbox-main-details:after {
	opacity: 0 !important;
}


/*content-box*/

.content-box {
	background: #fff;
	margin-bottom: 10px;
}

.content-box-title {
	padding: 0 10px;
	border-left: solid 3px #004a86;
	border-bottom: solid 2px #f4f6f9;
}

.content-box-title.no-border {
	border: none;
}

.content-box-title.no-border .box-title-text {
	font-size: 18px;
}

.box-title-left {
	float: left;
}

.box-title-right {
	float: right;
	margin-left: 20px;
}

.box-title-text {
	font-size: 16px;
	line-height: 20px;
	padding: 15px 10px;
	color: #333;
}

.content-box-title.has-btn .box-title-text {
	line-height: 34px;
}

.box-title-btn {
	color: #999;
	line-height: 20px;
	padding: 15px 10px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.box-title-btn i {
	margin-right: 5px;
}

.box-title-btn:hover {
	color: #004a86;
}

.content-box-title .close-box-btn {
	color: #aaa;
	line-height: 20px;
	font-size: 16px;
	padding: 15px 10px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-box-title .close-box-btn:hover {
	color: #004a86;
}

.content-box-title .close-box-btn:before {
	content: "\f106";
}

.content-box-title .borderbox-info-progress,
.content-box-title .form-checkbox {
	padding: 15px 10px;
}


/*content-box-form*/

.content-box-form {
	padding: 30px;
}

.content-box-form-edit .form-group {
	margin-bottom: 20px;
}

.content-box-form-edit .box-form-part {
	padding-top: 40px;
	margin-top: 40px;
}

.content-box-form-edit .box-form-part:before {
	left: 0;
}

.box-form-part {
	position: relative;
	padding-top: 15px;
}

.box-form-part:first-child {
	padding: 0 !important;
	margin: 0;
}

.box-form-part:first-child:before {
	display: none;
}

.box-form-part:before {
	position: absolute;
	top: 0;
	left: 8.33333333%;
	right: 0;
	display: block;
	content: "";
	height: 1px;
	background: #e8e8e8;
}

.content-box-form .control-label {
	font-weight: normal;
	color: #999;
	padding-left: 0;
	padding-right: 0;
}

.content-box-form-edit .control-label {
	color: #333;
}

.form-required .control-label:before {
	content: "*";
	color: #ea1f1f;
	margin-right: 5px;
}

.content-box-form .control-box {
	color: #000;
}

.control-note {
	font-size: 12px;
	color: #999999;
	margin-top: 10px;
}

.icon-office {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../images/icon-office.png);
	background-repeat: no-repeat;
}

.icon-office.icon-office-doc,
.icon-office.icon-office-docs {
	background-position: 0 0;
}


/*form-checkbox*/

.form-checkbox {
	line-height: 20px;
	white-space: nowrap;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.form-checkbox:hover {
	color: #004a86;
}

.form-checkbox i {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	border-radius: 4px;
	margin: 2px 5px 2px 0;
	border: solid 1px #cfcfcf;
	color: #fff;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.form-checkbox i:hover {
	border-color: #004a86;
}

.form-checkbox i:before {
	opacity: 0;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.form-checkbox.checked i {
	border-color: #004a86;
	color: #004a86;
}

.form-checkbox.checked i:before {
	opacity: 1;
}

.form-checkbox.checkbox-only i {
	float: none;
	margin: 0;
}

.form-radio {
	color: #666;
	line-height: 20px;
	white-space: nowrap;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.form-radio i {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
	border-radius: 8px;
	margin: 2px 5px 2px 0;
	border: solid 1px #cfcfcf;
	color: #fff;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.form-radio:hover {
	color: #004a86;
}

.form-radio i:hover {
	border-color: #004a86;
}

.form-radio.selected i {
	border-color: #004a86;
}

.form-radio.selected i:before {
	display: block;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 3px;
	background: #004a86;
}

.form-radio-tab-box {
	padding: 20px;
	margin-top: 10px;
	border: solid 1px #f1f1f1;
	background: #fafbff;
	border-radius: 4px;
}

.form-group .form-radio,
.form-group .form-checkbox {
	float: left;
	margin-right: 20px;
	padding: 7px 0;
}


/*form-attachment*/

.form-attachment-list {
	padding: 2px 0;
	margin: 0;
}

.form-attachment-list li {
	position: relative;
	line-height: 20px;
	padding: 4px 10px 4px 32px;
	border: solid 1px #f1f1f1;
	border-radius: 6px;
	background: #fafbff;
	margin-top: 10px;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
}

.form-attachment-list li:first-child {
	margin: 0;
}

.form-attachment-list li .icon-office {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -8px;
}

.form-attachment-list li span {
	display: block;
	float: right;
	color: #999999;
	font-size: 13px;
	margin-left: 10px;
}

.form-attachment-list li font {
	display: block;
	float: right;
	color: #999999;
	font-size: 13px;
	margin-left: 10px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.form-attachment-list li font i {
	margin-right: 5px;
}

.form-attachment-list li font:hover {
	color: #ea1f1f;
}

.form-attachment-list li a {
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.form-attachment-list li a:hover {
	color: #004a86;
}

.form-attachment-ctrl {
	margin-bottom: 10px;
}

.form-attachment-ctrl .btn {
	display: block;
	float: left;
	border-radius: 17px;
}


/*form-footer*/

.form-footer {
	background: #fff;
	padding: 18px 30px;
	border-top: solid 2px #f4f6f9;
	z-index: 10;
}

.form-footer .btn {
	display: block;
	float: left;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-footer .btn-primary-outline:hover,
.form-footer .btn-primary-outline:active {
	background: #004a86;
	color: #fff !important;
}


/*form-footer-dialog*/

.form-footer-dialog {
	position: fixed;
	left: 0;
	bottom: -100%;
	width: 100%;
	background: #fff;
	padding: 38px 30px;
	z-index: 11;
	box-shadow: 0 -3px 20px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 -3px 20px rgba(0, 0, 0, .15);
	transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
}

.desk.open-footer-dialog .form-footer-dialog {
	bottom: 0;
}

.footer-control-label {
	white-space: nowrap;
}

.footer-control .tablelayout-l {
	padding: 0 15px;
}

.footer-control .btn {
	display: block;
	margin-left: 10px;
}


/*tree*/

.box-form-tree ul {
	position: relative;
	overflow: hidden;
}

.box-form-tree ul:before {
	position: absolute;
	top: 0;
	left: 12px;
	bottom: 42px;
	display: block;
	width: 1px;
	content: "";
	background: #dfdfdf;
}

.box-form-tree ul li {
	position: relative;
	padding-left: 30px;
	margin-top: 20px;
}

.box-form-tree ul li:before {
	position: absolute;
	top: 42px;
	left: 12px;
	display: block;
	width: 18px;
	height: 1px;
	content: "";
	background: #dfdfdf;
}

.box-form-tree>ul>li {
	padding: 0;
}

.box-form-tree>ul>li:first-child {
	margin: 0;
}

.box-form-tree>ul:before,
.box-form-tree>ul>li:before {
	display: none;
}

.box-form-tree ul li dl {
	position: relative;
	height: 84px;
	margin: 0;
	padding: 10px 120px 10px 20px;
	border: solid 1px #f1f1f1;
	background: #fafbff;
	border-radius: 6px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
	overflow: hidden;
}

.box-form-tree ul li dt {
	font-weight: normal;
	font-size: 15px;
	color: #000;
	line-height: 22px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.box-form-tree ul li dd {
	line-height: 20px;
}

.box-form-tree ul li dd span {
	display: block;
	font-size: 13px;
	color: #999;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.box-form-tree ul li dd p {
	display: block;
	margin: 0;
	font-size: 12px;
	color: #333;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.box-form-tree ul li dl:hover {
	border-color: #1d4b87;
}

.box-form-tree ul li dl:hover dt,
.box-form-tree ul li dl:hover dd span,
.box-form-tree ul li dl:hover dd p {
	color: #1d4b87;
}

.box-form-tree ul li dd.box-form-tree-btn {
	position: absolute;
	top: 50%;
	right: 24px;
	margin-top: -10px;
	color: #999 !important;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.box-form-tree ul li dd.box-form-tree-btn a {
	color: inherit;
}

.box-form-tree ul li dd.box-form-tree-btn:hover {
	color: #1d4b87 !important;
}

.box-form-tree ul li dd.box-form-tree-btn i {
	margin-right: 5px;
}

.content-box-progress {
	padding: 25px;
}

.content-box-progress .borderbox-main-details {
	border-width: 1px;
}

.content-box-progress .borderbox-main-details-scroll {
	height: 270px;
}


/*content-box-blockmenu*/

.content-box-blockmenu {
	padding: 0 20px 20px 20px;
}

.content-box-blockmenu ul {
	margin: -6px;
}

.content-box-blockmenu ul li {
	padding: 6px;
}

.content-box-blockmenu ul li a {
	display: block;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	padding: 24px;
	border: solid 1px #eee;
	border-radius: 6px;
	color: #444;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-box-blockmenu ul li a:hover {
	background: #fcfcfc;
}


/*content-table*/

.content-table {
	padding: 20px 24px;
}

.content-table table {
	width: 100%;
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
}

.content-table table th {
	line-height: 20px;
	padding: 10px;
	color: #aeaeae;
	border-bottom: solid 1px #ebebeb;
}

.content-table table td {
	line-height: 20px;
	padding: 10px;
	color: #333;
	vertical-align: top;
}

.content-table table tbody tr:nth-child(even) td {
	background: #fafafa;
}

.content-table table .checkbox-only i {
	margin: 2px auto;
}

.content-table-ctrl a {
	display: inline-block;
	margin-right: 5px;
	color: #666;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-table-ctrl a.ctrl-comfirm {
	color: #004a86;
}

.content-table-ctrl a.ctrl-comfirm:hover {
	color: #002e53;
}

.content-table-ctrl a.ctrl-del:hover {
	color: #ea1f1f;
}

.content-table-page .content-table {
	padding-top: 0;
	padding-bottom: 0;
}

.content-table-page .borderbox-title-ctrl {
	padding: 16px 8px;
}

.content-table-footer {
	padding: 20px;
}

.content-table-footer .table-footer-ctrl {
	float: left;
}

.content-table-footer .table-footer-ctrl .btn {
	display: block;
	float: left;
	margin-right: 10px;
}

.content-pagination {
	float: right;
	margin: 0 -7px;
}

.content-pagination-part {
	float: left;
	margin: 0 7px;
}

.content-pagination select,
.content-pagination input {
	display: block;
	float: left;
	padding: 6px;
	line-height: 20px;
	width: 60px;
	margin: 0 3px;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.content-pagination select:hover,
.content-pagination input:hover {
	border-color: #aaa;
}

.content-pagination select:focus,
.content-pagination input:focus {
	border-color: #004a86;
}

.content-pagination font {
	display: block;
	float: left;
	line-height: 34px;
	color: #666;
	margin: 0 3px;
}

.content-pagination .pagination {
	display: block;
	float: left;
	margin: 0 3px;
}

.content-pagination .pagination a {
	color: #666;
	min-width: 34px;
	text-align: center;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-pagination .pagination li.active a {
	color: #fff;
	background: #004a86;
}


/*content-box-dropz*/

.content-box-dropz {
	margin: 0 20px;
	height: 200px;
	font-size: 12px;
	color: #999;
	border-radius: 5px;
	text-align: center;
	background: #fafafa;
	border: dashed 1px #ccc;
	cursor: pointer;
}

.content-box-dropz>.btn {
	display: block;
	width: 270px;
	font-size: 16px;
	line-height: 32px;
	margin: 50px auto 15px auto;
}

.content-box-dropz>.btn i {
	margin-right: 10px;
}

.content-box-dropz>p {
	margin-bottom: 5px;
	font-size: 14px;
}

.content-box-dropz-info {
	padding-bottom: 30px;
}

.content-box-dropz-footer {
	margin: 0 20px;
	padding: 20px 0;
	border-top: solid 1px #e8e8e8;
}

.content-box-dropz-footer .btn {
	display: block;
	float: left;
	margin-right: 10px;
	padding: 6px 20px;
}


/*content-box-ulist*/

.content-box-ulist {
	margin-top: 20px;
	padding: 0 20px;
}

.box-ulist-title {
	font-size: 15px;
	color: #333;
	margin-bottom: 10px;
}

.box-ulist-main>li {
	margin-bottom: 10px;
}

.box-ulist-main .box-ulist-info .tablelayout-s {
	vertical-align: top;
	white-space: nowrap;
}

.box-ulist-main .box-ulist-info .tablelayout-s .form-checkbox {
	margin: 2px 0;
}

.box-ulist-main .box-ulist-info .tablelayout-s>span {
	display: block;
	font-size: 12px;
	color: #999999;
	line-height: 20px;
}

.box-ulist-main .box-ulist-info .tablelayout-s>i {
	display: block;
	font-size: 18px;
	line-height: 20px;
	color: #8590a6;
	padding-left: 10px;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.box-ulist-main .box-ulist-info .tablelayout-s>i:hover {
	color: #ea1f1f;
}

.box-ulist-main .box-ulist-info .tablelayout-l {
	vertical-align: top;
	padding: 0 15px;
}

.box-ulist-main .box-ulist-info .tablelayout-l a {
	position: relative;
	display: inline-block;
	line-height: 20px;
	padding-left: 26px;
	padding-right: 80px;
	color: #004a86;
	cursor: pointer;
}

.box-ulist-fail .box-ulist-main .box-ulist-info .tablelayout-l a {
	padding-right: 100px;
	color: #666;
}

.box-ulist-main .box-ulist-info .tablelayout-l a>i {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2px 0;
}

.box-ulist-main .box-ulist-info .tablelayout-l a>span {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	color: #999;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.box-ulist-main .open-scrolltable .box-ulist-info .tablelayout-l a>span,
.box-ulist-main .box-ulist-info .tablelayout-l a>span:hover {
	color: #e26a13;
}

.box-ulist-main .box-ulist-info .tablelayout-l a>span.hoverdown .hoverdown-menu {
	left: 50%;
	padding-top: 6px;
	width: 240px;
	margin-left: -120px;
}

.box-ulist-main .box-ulist-info .tablelayout-l a>span.hoverdown .hoverdown-menu:before {
	position: absolute;
	left: 50%;
	top: -1px;
	margin-left: -4px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent #fff transparent;
	z-index: 2;
}

.box-ulist-main .box-ulist-info .tablelayout-l a>span.hoverdown .hoverdown-menu:after {
	position: absolute;
	left: 50%;
	top: -5px;
	margin-left: -5px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 6px 5px;
	border-color: transparent transparent #ebebeb transparent;
	z-index: 1;
}

.box-ulist-main .box-ulist-info .tablelayout-l a>span.hoverdown .hoverdown-menu .hoverdown-menu-content {
	padding: 10px 15px;
}

.box-ulist-main .box-ulist-info .tablelayout-l a>span.hoverdown .hoverdown-menu .hoverdown-menu-content li {
	font-size: 13px;
	line-height: 20px;
	color: #333;
	cursor: text;
}


/*content-box-scrolltable*/

.content-box-scrolltable {
	display: none;
	background: #fafbff;
	padding: 8px 10px;
	border: solid 1px #e8e8e8;
	overflow: auto;
}

.content-box-scrolltable table {
	min-width: 100%;
}

.content-box-scrolltable table th {
	background: #fbfbfb;
	padding: 3px 25px;
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	font-weight: normal;
	color: #aeaeae;
	white-space: nowrap;
}

.content-box-scrolltable table td {
	padding: 10px 25px;
	white-space: nowrap;
}

.box-ulist-main .open-scrolltable .content-box-scrolltable {
	margin-top: 10px;
	display: block;
}

.box-ulist-main .open-scrolltable .box-ulist-info .tablelayout-l a>span i:before {
	content: "\f0d8";
}

.box-ulist-main .open-scrolltable .box-ulist-info .tablelayout-l a>span:before {
	position: absolute;
	left: 50%;
	bottom: -11px;
	margin-left: -4px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent #fafbff transparent;
	z-index: 2;
}

.box-ulist-main .open-scrolltable .box-ulist-info .tablelayout-l a>span:after {
	position: absolute;
	left: 50%;
	bottom: -11px;
	margin-left: -5px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 6px 5px;
	border-color: transparent transparent #e8e8e8 transparent;
	z-index: 1;
}


/*content-taskbox*/

.content-taskbox {
	position: relative;
	padding: 20px 20px 20px 190px;
}

.content-taskbox-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 190px;
}

.content-taskbox-menu .box-title-text {
	padding: 20px 10px;
}

.content-taskbox-menu .menu-sub {
	position: static;
	opacity: 1;
	width: 100% !important;
}

.content-taskbox-menu .menu-sub>dl>dt a {
	padding: 11px 35px 11px 20px;
}

.content-taskbox-menu .menu-sub,
.content-taskbox-menu .menu-sub>dl.active>dd {
	overflow: visible;
}

.content-taskbox-menu .menu-sub>dl>dd a {
	padding: 0 20px;
	overflow: visible;
}

.content-taskbox-menu .menu-sub>dl>dd a>span {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.content-taskbox-menu .borderbox-title-ctrl,
.content-taskbox-menu .borderbox-title-ctrl-search {
	float: none;
	margin: 0;
}

.content-taskbox-menu .borderbox-title-ctrl {
	padding: 0 20px;
}

.content-taskbox-menu .borderbox-title-ctrl-search>input {
	width: 100%;
	font-size: 12px;
	padding: 3px 12px;
}

.content-taskbox-btn {
	padding: 0 20px;
}

.content-taskbox-btn .btn {
	display: block;
	width: 100%;
	padding: 4px 12px;
	line-height: 20px;
	color: #999;
	border-radius: 15px;
}

.content-taskbox-menu .menu-sub>dl>dd a:hover .menu-move-popover {
	left: 100%;
	opacity: 1;
}

.menu-move-popover {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -19px;
	padding-left: 10px;
	opacity: 0;
	transition: all .6s;
	-moz-transition: all .6s;
	-o-transition: all .6s;
	-webkit-transition: all .6s;
}

.menu-move-popover:before {
	position: absolute;
	top: 50%;
	left: 1px;
	margin-top: -5px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 5px;
	border-color: transparent #fff transparent transparent;
	z-index: 2;
}

.menu-move-popover:after {
	position: absolute;
	top: 50%;
	left: -1px;
	margin-top: -6px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 6px;
	border-color: transparent #ebebeb transparent transparent;
	z-index: 1;
}

.menu-move-popover ul {
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(0, 34, 77, .1);
	-webkit-box-shadow: 0 5px 20px rgba(0, 34, 77, .1);
	overflow: hidden;
	padding: 4px 2px;
	margin: 0;
	width: 120px;
}

.menu-move-popover ul li {
	display: block;
	float: left;
	padding: 0 2px;
}

.menu-move-popover i {
	display: block;
	width: 34px;
	text-align: center;
}

.content-taskbox-main {
	min-height: 600px;
	border: solid 1px #e8e8e8;
}

.content-taskbox-main .content-borderbox-top {
	border-bottom: solid 1px #e8e8e8;
}

.content-taskbox-main .content-borderbox-top .content-tab {
	margin-bottom: -1px;
}

.content-taskbox-main .content-box-form {
	padding: 20px;
}

.content-taskbox-main .form-group {
	margin-bottom: 15px;
}

.content-taskbox-main .box-form-part {
	margin-top: 0;
	padding-top: 20px;
	border: none;
}

.content-taskbox-main .box-form-part:before {
	display: none;
}

.content-taskbox-main .form-group .btn {
	display: block;
	float: left;
	margin-right: 10px;
}

.content-taskbox-main .content-table {
	padding-top: 0;
}

.content-taskbox-searchbar {
	padding: 15px 20px;
}

.content-taskbox-searchbar .btn {
	display: block;
	float: left;
	margin-right: 10px;
}


/*content-box-process*/

.content-box-process {
	position: relative;
	padding: 72px;
	z-index: 0;
}

.content-box-process:before,
.content-box-process:after {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	content: "";
	height: 72px;
	background: #fff;
	z-index: 3;
}

.content-box-process:before {
	top: 0;
}

.content-box-process:after {
	bottom: 0;
}

.content-box-process ul {
	margin-left: -72px;
	margin-bottom: -72px;
}

.content-box-process li {
	position: relative;
	float: left;
	width: 20%;
	padding-left: 72px;
	padding-bottom: 72px;
	z-index: 1;
}

.content-box-process li:hover {
	z-index: 2;
}

.box-process-box {
	position: relative;
	z-index: 1;
}

.content-box-process li:nth-child(5n+1) .box-process-box:before {
	display: none;
}

.content-box-process li:nth-child(5n+1) .box-process-box:after {
	left: 50%;
	border-radius: 4px 0 0 4px;
}

.content-box-process li:nth-child(5n) .box-process-box:after {
	right: 50%;
	border-radius: 0 4px 4px 0;
}

.content-box-process li:nth-child(5n+1):before {
	position: absolute;
	top: -38px;
	right: 50%;
	display: block;
	content: "";
	width: 32px;
	height: 26px;
	margin-right: -57px;
	background: url(../images/box-process-box-rightsign.png) 0 0 no-repeat;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	z-index: 1;
}

.content-box-process li:nth-child(5n):after {
	position: absolute;
	right: 50%;
	bottom: 36px;
	display: block;
	content: "";
	width: 10px;
	height: 20px;
	margin-right: -36px;
	background: #e8e8e8;
	border-radius: 4px;
}

.box-process-box:before {
	position: absolute;
	top: 50%;
	left: -36px;
	display: block;
	content: "";
	width: 32px;
	height: 26px;
	margin-top: -13px;
	margin-left: -16px;
	background: url(../images/box-process-box-rightsign.png) 0 0 no-repeat;
	z-index: 1;
}

.box-process-box:after {
	position: absolute;
	left: -36px;
	right: -36px;
	bottom: -36px;
	margin-bottom: -5px;
	display: block;
	content: "";
	height: 10px;
	background: #e8e8e8;
}

.box-process-box>dl {
	position: relative;
	background: #fafbff;
	border: solid 1px #f1f1f1;
	border-radius: 4px;
	padding: 15px 15px 40px 15px;
	margin: 0;
	height: 106px;
	/*z-index: 2;*/
}

.box-process-box>dl dt {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
}

.box-process-box>dl dd {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	margin-top: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.box-process-box>dl dd>i {
	margin-right: 5px;
	color: #ddd;
}

.box-process-box>dl dd.box-process-box-edit {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
	line-height: 20px;
	padding: 5px 15px;
	opacity: 0;
	transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
}

.box-process-box>dl dd.box-process-box-edit span {
	margin-left: 6px;
	transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	cursor: pointer;
}

.box-process-box>dl dd.box-process-box-edit span:hover {
	color: #e26a13;
}

.box-process-box>dl dd.box-process-box-edit span i {
	margin-right: 3px;
}

.box-process-tips {
	position: absolute;
	opacity: 0;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	z-index: 2;
}

.box-process-box:hover .box-process-tips,
.box-process-box:hover .box-process-box-edit {
	opacity: 1;
}

.box-process-tips:before {
	position: absolute;
	display: block;
	content: "";
	border: solid;
	border-width: 5px;
	z-index: 2;
}

.box-process-tips:after {
	position: absolute;
	display: block;
	content: "";
	border: solid;
	border-width: 6px;
	z-index: 1;
}

.box-process-tips.tips-left {
	top: 50%;
	left: 0;
	margin-top: -26px;
	padding-right: 10px;
}

.box-process-box:hover .tips-left {
	left: -62px;
}

.box-process-tips.tips-left:before {
	right: 1px;
	top: 50%;
	margin-top: -5px;
	border-color: transparent transparent transparent #fff;
}

.box-process-tips.tips-left:after {
	right: -1px;
	top: 50%;
	margin-top: -6px;
	border-color: transparent transparent transparent #ebebeb;
}

.box-process-tips.tips-right {
	top: 50%;
	right: 0;
	margin-top: -26px;
	padding-left: 10px;
}

.box-process-box:hover .tips-right {
	right: -62px;
}

.box-process-tips.tips-right:before {
	left: 1px;
	top: 50%;
	margin-top: -5px;
	border-color: transparent #fff transparent transparent;
}

.box-process-tips.tips-right:after {
	left: -1px;
	top: 50%;
	margin-top: -6px;
	border-color: transparent #ebebeb transparent transparent;
}

.box-process-tips.tips-bottom {
	bottom: 0;
	left: 50%;
	width: 100px;
	padding-top: 10px;
	margin-left: -50px;
	text-align: center;
}

.box-process-box:hover .tips-bottom {
	bottom: -62px;
}

.box-process-tips.tips-bottom:before {
	top: 1px;
	left: 50%;
	margin-left: -5px;
	border-color: transparent transparent #fff transparent;
}

.box-process-tips.tips-bottom:after {
	top: -1px;
	left: 50%;
	margin-left: -6px;
	border-color: transparent transparent #ebebeb transparent;
}

.box-process-tips.tips-bottom .btn {
	margin: 0 3px;
}

.box-process-tips-main {
	background: #fff;
	padding: 10px;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	box-shadow: 0 5px 20px rgba(0, 34, 77, .1);
	-webkit-box-shadow: 0 5px 20px rgba(0, 34, 77, .1);
	z-index: 1;
}

.box-process-tips .btn {
	font-size: 12px;
	width: 30px;
	line-height: 28px;
	text-align: center;
	padding: 0;
	border-radius: 15px;
}

.box-process-tips .btn i {
	margin: 0;
}


/*content-selectbox-group*/

.content-selectbox-group {
	padding: 20px;
}

.selectbox-group-title {
	margin-bottom: 10px;
}

.selectbox-group-title .form-checkbox,
.selectbox-group-title .form-radio {
	padding: 7px 0;
}

.selectbox-group-title .form-control-group .form-control {
	width: 250px;
	text-align: center;
}

.selectbox-group-box {
	border-radius: 4px;
	border: solid 1px #e8e8e8;
	background: #fff;
}

.selectbox-group-box-title {
	background: #fafbff;
	border-bottom: solid 1px #e8e8e8;
	line-height: 20px;
	padding: 5px 10px;
	color: #aaa;
	border-radius: 4px 4px 0 0;
}

.selectbox-group-box-main {
	padding: 6px 0;
}


/*content-board*/

.content-board-top {
	padding: 10px;
	margin-bottom: 10px;
}

.content-board-top .btn i {
	margin-right: 8px;
}

.content-board-top .board-top-text {
	font-size: 18px;
	color: #666666;
	line-height: 34px;
}

.content-board-top .form-group-table {
	width: 400px;
	margin-bottom: 0;
}

.content-board-top .form-group-table .control-label {
	font-weight: normal;
}

.content-board-top .form-group-table .control-box {
	width: 49%;
}

.content-board-top .hoverdown-name i {
	margin: 0 0 0 8px;
}

.content-board-top .hoverdown-name i:before {
	content: "\f0d7";
}

.content-board-top .hoverdown:hover .hoverdown-name i:before {
	content: "\f0d8";
}

.content-board-top .hoverdown-menu {
	left: 50%;
	margin-left: -96px;
	width: 192px;
	padding-top: 10px;
}

.content-board-top .hoverdown-menu:before {
	position: absolute;
	left: 50%;
	top: -1px;
	margin-left: -4px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 6px 4px;
	border-color: transparent transparent #fff transparent;
	z-index: 2;
}

.content-board-top .hoverdown-menuafter {
	position: absolute;
	left: 50%;
	top: -5px;
	margin-left: -5px;
	display: block;
	content: "";
	border-style: solid;
	border-width: 8px 5px;
	border-color: transparent transparent #ebebeb transparent;
	z-index: 1;
}

.content-board-top .hoverdown-menu-content li {
	position: relative;
	display: block;
	text-decoration: none;
	padding: 6px 20px;
	clear: both;
	font-weight: 400;
	line-height: 30px;
	color: #333;
	white-space: nowrap;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-board-top .hoverdown-menu-content li:hover {
	color: #262626;
	background-color: #f5f5f5
}

.content-board-top .hoverdown-menu-content li img {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 6px 10px 6px 0;
}

.content-board-top .btn-radius {
	padding: 6px 15px;
}

.content-board-main {
	padding: 0 5px;
}

.content-board-main [class*="col-xs"] {
	padding: 0 5px;
}

.content-board-main .content-box-chart {
	padding: 10px;
}

.content-board-main .box-chart-title {
	padding: 10px;
	margin: 0;
}

.content-board-main .box-chart-title dt {
	float: left;
	font-size: 16px;
	line-height: 20px;
}

.content-board-main .box-chart-title dd {
	float: right;
	line-height: 20px;
	font-size: 13px;
	color: #999;
}

.content-board-main .box-chart-title dd span {
	color: #ea6b1f;
}

.content-board-main .box-chart-main {
	margin: 10px;
	height: 300px;
}

.content-board-border {
	position: relative;
	padding-top: 20px;
}

.content-board-border:before {
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
	display: block;
	content: "";
	height: 1px;
	background: #ececec;
}

.content-board-border .content-box {
	position: relative;
	border-radius: 6px;
	height: 140px;
	border: solid 1px #fafbfc;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.content-board-border .content-box:hover {
	box-shadow: 0 0 30px rgba(0, 74, 134, .1);
	-webkit-box-shadow: 0 0 30px rgba(0, 74, 134, .1);
}

.content-board-border .content-box.board-add {
	background: #fbfbfb;
	border: dashed 1px #d3d3d3;
}

.content-board-border .content-box.board-add:before {
	position: absolute;
	top: -3px;
	right: -3px;
	display: block;
	content: "";
	width: 60px;
	height: 59px;
	background: url(../images/icon-new.png);
}

.content-board-border .content-box.board-add>i {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	font-size: 24px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	color: #c4c4c4;
}

.content-board-border .content-box dl {
	margin: 25px 0;
}

.content-board-border .content-box dl dt img {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.content-board-border .content-box dl dd {
	font-size: 14px;
	color: #444;
	line-height: 20px;
	margin-top: 20px;
	padding: 0 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
}

.content-board-border .content-box .board-hoverbox {
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -34px;
	opacity: 0;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
}

.content-board-border .content-box:hover .board-hoverbox {
	opacity: 1;
}

.content-board-border .content-box .board-hoverbox .btn {
	display: block;
	padding: 4px 0;
	text-align: center;
	width: 70px;
	margin-top: 8px;
}

.content-board-border .content-box .board-hoverbox .btn:first-child {
	margin: 0;
}

.content-board-border .content-box .board-hoverbox .btn i {
	color: #ff3d3d;
}

.status-lamp {
	display: block;
	margin: 3px auto;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	border: solid 1px #ccc;
	background: #eee;
}

.status-lamp.status-1 {
	background: #90c230;
	border-color: #6e9919;
}

.status-lamp.status-2 {
	background: #f7ab01;
	border-color: #e09c05;
}

.status-lamp.status-3 {
	background: #ea1f1f;
	border-color: #ce0707;
}


/*content-search*/

.content-search {
	padding: 20px;
}

.content-search .form-group {
	display: table;
	padding: 0;
}

.content-search .control-label {
	display: table-cell;
	width: 1%;
	font-weight: normal;
	vertical-align: middle;
	margin: 0;
}

.content-search .control-label span {
	display: block;
	width: 110px;
	padding-right: 10px;
	text-align: right;
	white-space: normal;
	word-break: break-all;
	max-height: 34px;
	line-height: 17px;
	overflow: hidden;
}

.content-search .control-label font {
	padding: 0 10px;
}

.content-search .control-box {
	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.content-search .form-group-table .control-label {
	padding: 0;
}

.content-search .form-group-table .control-box {
	padding: 0;
	width: 49%;
}

.search-left {
	float: left;
}

.search-left .btn {
	float: left;
	margin-right: 15px;
	min-width: 78px;
}

.search-right {
	float: right;
}

.search-right .btn,
.search-right .ctrl-btn {
	float: left;
	margin-left: 15px;
}

.search-right .ctrl-btn {
	padding: 7px 0;
	transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	cursor: pointer;
}

.search-right .ctrl-btn i {
	margin-left: 8px;
}

.search-right .ctrl-btn:hover {
	color: #004a86;
}