@charset "utf-8";

/* tree-icon */
.left-area .tree-node-icon {
  display: block;
  float: left;
  line-height: inherit;
  width: 20px;
  text-align: center;
  margin-right: 5px;
  color: #aaa;
}
.left-area .tree-node-icon.icon {
  height: 20px;
  background-image: url(../images/icon-menu-s.png);
  background-repeat: no-repeat;
}
.left-area .tree-node-icon.icon.icon-desk {
  background-position: 0 0;
}
.left-area .tree-node-icon.icon.icon-board {
  background-position: -20px 0;
}
.left-area .tree-node-icon.icon.icon-edit {
  background-position: -40px 0;
}
.left-area .el-tree-node__content {
  height: auto;
  padding: 4px 0;
}
/* tree-input */
.left-area .el-input--mini {
  margin-bottom: 0 !important;
}
.left-area .el-input--mini .el-input__inner {
  padding: 6px 12px;
  border-radius: 17px !important;
}
.el-input__prefix {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: #9f9f9f;
  transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  cursor: pointer;
}
.el-input__prefix i {
  height: auto;
  line-height: inherit;
}
/* tree-search */
.left-area .tree-search {
  margin-bottom: 10px;
}
.el-button {
  line-height: 20px;
  padding: 6px 12px;
}
.el-button,
.el-button:focus {
	color: #666;
	background: #fff;
	border-color: #e9e9e9;
}
.el-button:hover {
  color: #666;
	background: #f5f5f5;
	border-color: #bbb;
}
.el-button:active {
	background: #f3f2f2;
}
/* right-area-toolbar */
.right-area-toolbar {
  padding: 20px !important;
  line-height: 20px !important;
}
.el-form-item__label {
  line-height: 34px;
  margin: 0;
}
.el-input {
  display: block;
}
.el-input__inner {
  display: block;
  width: 100%;
  height: 34px !important;
  padding: 6px 12px !important;
  font-size: 14px;
  line-height: 20px !important;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ebebeb;
  border-radius: 4px !important;
}
.el-input__inner:hover {
	border-color: #aaa;
}
.el-input__inner:focus {
	border-color: #004a86;
}
.form-item {
  height: 34px !important;
  margin-bottom: 15px;
}

/* area */
.list-form {
  /* position: relative;
  padding: 20px 20px 20px 190px; */
  padding: 20px;
}
.left-area {
	/* position: absolute;
	top: 20px;
	left: 0;
  width: 190px !important; */
  padding: 0 20px 0 0 !important;
  border: none !important;
}
.right-area {
  /* margin: 0 !important; */
  border: solid 1px #e8e8e8;
}
/** signin start **/
.signin .header_box {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}
.signin .footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:100;
}
.sign_bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
}
.sign_bg img {
    display:block;
    width:100%;
    height:100%;
}
.sign_box {
    position:fixed;
    top:50%;
    left:50%;
    width:410px;
    height:320px;
    margin-left:-205px;
    margin-top:-160px;
    background:#fff;
    border-radius:6px;
    padding:32px 26px;
    box-shadow: 0 0 30px rgba(0,49,93,.3);
    -webkit-box-shadow:0 0 30px rgba(0,49,93,.3);
    z-index:101;
}
.sign_box_title {
    font-size:22px;
    line-height:22px;
    margin-bottom:20px;
    font-weight:bolder;
}
.sign_box .switchtab_menu {
    overflow:hidden;
}
.sign_box .switchtab_menu_list {
    float:left;
    width:50%;
    height:40px;
    line-height:38px;
    border:solid 1px #ddd;
    color:#666;
    font-size:15px;
    border-radius:0 6px 6px 0;
    text-align:center;
    transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    -webkit-transition:all .2s;
    cursor:pointer;
}
.sign_box .switchtab_menu_list:first-child {
    border-radius:6px 0 0 6px;
}
.sign_box .switchtab_menu_list:hover {
    background:#f1f5fc;
}
.sign_box .switchtab_menu_list.active {
    background:#1d59c4;
    border:solid 1px #1d59c4;
    color:#fff;
}
.sign_box .switchtab_main_box dl {
    position:relative;
    width:100%;
    height:50px;
    margin-top:20px;
    margin-bottom: 0;
    overflow:hidden;
}
.sign_box .switchtab_main_box dl dt {
    position:absolute;
    top:0;
    left:0;
    height:28px;
    margin:11px 0;
    border-right:solid 1px #ddd;
    z-index:1;
}
.sign_box .switchtab_main_box dl dt:before {
    display:block;
    content:"";
    width:20px;
    height:20px;
    margin:4px 15px 4px 20px;
    background-image: url(../images/site_bg.png);
    background-repeat:no-repeat;
}
.sign_box .switchtab_main_box dl dt.icon_user:before {
    background-position:-176px -51px;
}
.sign_box .switchtab_main_box dl dt.icon_mobile:before {
    background-position:-176px -71px;
}
.sign_box .switchtab_main_box dl dt.icon_lock:before {
    background-position:-176px -91px;
}
.sign_box .switchtab_main_box dl dd {
    width:100%;
    white-space:nowrap;
    vertical-align:middle;
}
.sign_box .switchtab_main_box dl dd input {
    display:block;
    width:100%;
    height:50px;
    line-height:20px;
    border:solid 1px #ddd;
    border-radius:6px;
    padding:14px 15px 14px 70px;
    font-size:16px;
    border-left:solid 1px #ddd;
    transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    -webkit-transition:all .2s;
}
.sign_box .switchtab_main_box dl dd input:hover {
    border:solid 1px #878d99;
}
.sign_box .switchtab_main_box dl dd input:focus {
    border:solid 1px #1d59c4;
}
.sign_box_forget {
    display:block;
    float:right;
    line-height:44px;
    color:#ff0101;
    transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    -webkit-transition:all .2s;
    cursor:pointer;
}
.sign_box_forget:hover {
    color:#ff0101;
    text-decoration:underline;
}
.sign_box_footer {
    position:relative;
}
.sign_box_footer button {
    display:block;
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:20px;
    color:#fff;
    background:#1d59c4;
    border-radius:6px;
    transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    -webkit-transition:all .2s;
    cursor:pointer;
}
.sign_box_footer button:hover {
    background:#0c46ad;
}
.sign_box_footer button:active {
    background:#033691;
}
.sign_box_footer.active .sign_box_fixed {
    visibility:visible;
    opacity:1;
}
.sign_box_fixed {
    visibility:hidden;
    position:absolute;
    left:0;
    bottom:100%;
    width:100%;
    padding-bottom:10px;
    z-index:1;
    opacity:0;
    transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
    -webkit-transition:all .3s;
}
.sign_box_fixed:before {
    position:absolute;
    left:50%;
    bottom:1px;
    margin-left:-5px;
    display:block;
    width:0;
    height:0;
    content:"";
    border-style:solid;
    border-width:5px;
    border-color:#fff transparent transparent transparent;
    z-index:2;
}
.sign_box_fixed:after {
    position:absolute;
    left:50%;
    bottom:-1px;
    margin-left:-6px;
    display:block;
    width:0;
    height:0;
    content:"";
    border-style:solid;
    border-width:6px;
    border-color:#ddd transparent transparent transparent;
    z-index:1;
}
.sign_box_fixed_content {
    width:70%;
    margin:0 15%;
    padding:15px;
    background:#fff;
    border-radius:4px;
    border:solid 1px #ddd;
    box-shadow: 0 0 8px rgba(0,49,93,.2);
    -webkit-box-shadow: 0 0 8px rgba(0,49,93,.2);
}
.sign_box_fixed_title {
    font-size:14px;
    color:#333;
    margin-bottom:5px;
}
.sign_box_fixed_code {
    width:120px !important;
    height:40px;
    line-height:40px;
    font-size:20px;
    border-radius:3px;
    padding:0 !important;
    margin-bottom:5px;
}
.sign_box_fixed_ctrl {
    width:100%;
    height:40px;
    line-height:20px;
    padding:9px 10px;
    border:solid 1px #ddd;
    border-radius:3px;
    margin-bottom:10px;
}
.sign_box_fixed_main {
    position:relative;
}
.sign_box.hasValidate .sign_box_footer.active .sign_box_fixed_main i {
    visibility:visible;
    opacity:1;
}

.sign_box_fixed_main i {
    visibility:hidden;
    position:absolute;
    top:0;
    right:0;
    padding:9px;
    margin:1px;
    line-height:20px;
    font-size:16px;
    color:#a2cb1b;
    opacity:0;
    transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
    -webkit-transition:all .3s;
    background:#fff;
}
.sign_box_fixed_btn {
    width:100%;
    height:40px;
    line-height:20px;
    padding:10px;
    border-radius:3px;
    text-align:center;
    color:#fff;
    background:#1d59c4;
    transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    -webkit-transition:all .2s;
    cursor:pointer;
}
.sign_box_fixed_btn:hover {
    background:#0c46ad;
}
.sign_box_fixed_btn:active {
    background:#033691;
}
.sign_box_fixed_content p {
    font-size:12px;
    color:#aaa;
}
.sign_box .alert.alert-blackbg {
    display: none;
    position:absolute;
    left:0;
    top:100%;
    width:100%;
    margin-top: 15px;
    padding:15px 26px;
    border-radius: 6px;
}
.sign_vcode {
    position:relative;
}
.sign_vcode_btn {
    position:absolute;
    top:0;
    right:0;
    width:120px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:16px;
    color:#fff;
    border-radius:0 6px 6px 0;
    overflow:hidden;
}
.sign_vcode_btn button {
    display:block;
    width:100%;
    height:100%;
}
.sign_vcode_btn_get {
    background:#ef6600;
    transition:all .2s;
    -moz-transition:all .2s;
    -o-transition:all .2s;
    -webkit-transition:all .2s;
    cursor:pointer;
}
.sign_vcode_btn_wait {
    display:none;
    background:#b4bccc;
    cursor:no-drop;
}
.sign_vcode_btn.active .sign_vcode_btn_get {
    display:none;
}
.sign_vcode_btn.active .sign_vcode_btn_wait,
.sign_box.sign_error .alert.alert-blackbg {
    display:block;
}

/** footer start **/
.footer_content {
    position:relative;
    text-align:center;
    font-size:13px;
    color:#999;
    padding:30px 0;
}
.footer_content p {
    margin:10px 0 0 0;
}
.footer_content p a {
    margin:0 10px;
    color:#1d59c4;
    cursor:pointer;
}
.footer_content p a i {
    margin-right:5px;
}
.footer_content dl {
    position:absolute;
    top:0;
    left:50%;
    margin-left:300px;
}
.footer_content dl dt {
    width:100px;
    height:100px;
    margin:0 auto;
}
.footer_content dl dt img {
    display:block;
    width:100%;
    height:100%;
}
.footer_content dl dd {
    text-align:center;
    color:#333;
    line-height:20px;
    margin-top:5px;
}


/**
 *  signin end
 */

.nohand {
  cursor:auto;
}